# Installed packages
**/node_modules

# temporary cache
**/.yarn/cache
**/.yarn/install-state.gz

# compiled output
**/dist
**/dist/**/*

# OS
**/.DS_Store

# IDE - VSCode
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json

# Temporary data
**/temp
**/.data

# Environemnt Secrets
.env