{
  "singleQuote": true,
  "printWidth": 200,
  "proseWrap": "never",
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "avoid"
}